<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="ActivWpf.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<!--Compatibility switch so that setting LanguageService.CurrentLanguage works when targeting .net >= 4.6 https://msdn.microsoft.com/en-us/ie/mt761774(v=vs.94)-->
		<AppContextSwitchOverrides value="Switch.System.Globalization.NoAsyncCurrentCulture=true"/>
	</runtime>
	<appSettings>
		<add key="RequestTimeout" value="60000"/>
	</appSettings>
 <applicationSettings>
  <ActivWpf.Settings>
   <setting name="Symbols" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>AUDCAD</string>
      <string>AUDNZD</string>
      <string>AUDUSD</string>
      <string>CADJPY</string>
      <string>EURCHF</string>
      <string>EURJPY</string>
      <string>EURUSD</string>
      <string>NZDUSD</string>
      <string>USDCAD</string>
      <string>USDCHF</string>
      <string>USDJPY</string>
      <string>Ger30</string>
      <string>Usa500</string>
      <string>UsaInd</string>
      <string>UsaTec</string>
      <string>GOLD</string>
      <string>SILVER</string>
      <string>CopperSep21</string>
     </ArrayOfString>
    </value>
   </setting>
  </ActivWpf.Settings>
 </applicationSettings>
</configuration>